.featured-tab-container .featured-head li a:focus,
.featured-tab-container .featured-head li a:visited{
    outline: none;
    box-shadow: none;
}
.featured-tab-container .featured-head li a {
    padding: 3px 10px;
}
.featured-tab-container .featured-head li.active a {
    background: #009CD0;
    color: white;

    border-radius: 2px;
}
.featured-tab-container .featured-head li{
    display: inline-block;
}
.featured-tab-container .featured-head {
    padding-bottom: 5px;
}